@import "tailwindcss";

@layer base {
  html {
    @apply scroll-smooth;
  }
  
  body {
    @apply bg-orange-50 text-gray-900;
  }
}

@layer utilities {
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp-2: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
